body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

/* first section start */

#first-section {
    background-color: #0C134F;
}

#nav-logo {
    font-family: "Sacramento";
    font-size: 4rem;
    color: #5C469C;
}

#nav-logo:hover {
    color: #D4ADFC;
}

.navbar {
    padding: 0 !important;
}

.nav-item {
    padding: 0 18px;
    font-size: 1.7rem;
    font-family: serif;
}

.nav-link {
    color: #5C469C !important;
}

.nav-link:hover {
    color: #D4ADFC !important;
}

/* grid */

h1 {
    font-weight: 600 !important;
    font-family: "Sacramento", serif;
    font-size: 6rem !important;
    padding-top: 20px;
    padding-bottom: 10px;
}

#name-grid {
    color: #ACB1D6;
    margin: 23% 0 22% 15%;
}

.human {
    width: 100%;
}

.grid-h3 {
    font-weight: 500 !important;
    font-family: serif;
    font-size: 1.2rem;
}

.grid-h2 {
    font-weight: 500 !important;
    color: #A4D0A4;
    font-size: 1.7rem;
}

.fancy {
    position: relative;
    width: 50px;
    height: 50px;
}

.square1 {
    background-color: #9384D1;
    left: 94%;
    bottom: 280px;
}

.square2 {
    background-color: #00FFCA;
    right: 20%;
    bottom: 60px;
}

.circle {
    border-radius: 50%;
    background-color: #FEF2F4;
    bottom: 70px;
    left: 20%;
}

@media (max-width: 1100px) and (min-width: 900px) {


    #nav-logo {
        font-size: 3rem;
    }

    .nav-item {
        font-size: 1.3rem;
    }

    h1 {
        font-size: 5rem !important;
    }

    .grid-h2 {
        font-size: 1.3rem;
    }

    .grid-h3 {
        font-size: 1.3rem;
    }

}

@media (max-width: 900px) and (min-width: 700px) {

    .fancy {
        width: 40px;
        height: 40px;
    }

    h1 {
        font-size: 5rem !important;
    }

    .grid-h2 {
        font-size: 1.3rem;
    }

    .grid-h3 {
        font-size: 1.3rem;
    }

    #name-grid {
        margin-left: 20%;
    }

    .square1 {
        left: 80%;
    }

}

@media (max-width: 700px) {

    .fancy {
        width: 30px;
        height: 30px;
    }

    h1 {
        font-size: 4rem !important;
    }

    .grid-h2 {
        font-size: 1rem;
    }

    .grid-h3 {
        font-size: 1rem;
    }

    .nav-item {
        font-size: 1rem;
    }

    .square1 {
        left: 80%;
    }

    #name-grid {
        margin-left: 20%;
    }

}


/* first section end */